<!DOCTYPE html>
<html>
<head>
    <title>Time tracker</title>
</head>
<body>
<h1>
    <a
            style="padding: 10px; text-decoration: none; color: #C6DAE1; border: 1px solid #C0D2E6"
            href="{% url 'main' %}"
    >
        News Feed
    </a>
</h1>

<header>
    <nav>
        {% if user.is_anonymous %}
        <div style="text-align: right">
            <a
                    style="padding-left: 10px; text-decoration: none; color: #1C666D"
                    href="{% url 'auth' %}"
            >
                Вход
            </a>
            <a
                    style="padding-left: 10px; text-decoration: none; color: #1C666D"
                    href="{% url 'registration' %}"
            >
                Регистрация
            </a>
        </div>

        {% else %}
        <a
                style="padding-left: 10px; text-decoration: none; color: #1C666D"
                href="{% url 'main' %}"
        >
            Главная страница</a>

        <a
                style="padding-left: 10px; text-decoration: none; color: #1C666D"
                href="{% url 'article_add' %}"
        >
            Создание новостей
        </a>
        <a
                style="padding-left: 10px; text-decoration: none; color: #1C666D"
                href="{% url 'tags' %}"
        >
            Список тегов
        </a>

         <a
                style="padding-left: 10px; text-decoration: none; color: #1C666D"
                href="{% url 'analytics' %}"
        >
            Аналитика
        </a>

        <div style="text-align: right; color: #755E66">
            {% if not user.is_anonymous %}
            Здравствуйте, {{ user.username }}
            {% endif %}
        </div>

        <a
                    style="padding: 5px 20px; text-decoration: none; color: #1C666D; border: 3px solid #1C666D"
                    href="{% url 'logout' %}"
            >
                Выйти
            </a>
        {% endif %}
    </nav>
</header>

<hr>
{% block content %}{% endblock %}
</body>
</html>